.update {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  height: 60%;
  width: 50%;
  color: black;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .uploads {
    display: flex;
    align-items: center;

    .upload {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .input {
      display: flex;
      flex-direction: column;
      width: 90%;
      input {
        border: 1px solid lightgray;
        padding: 10px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
